<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form action="#" th:action="@{/update/{id}(id=${coffee.id})}" th:object="${coffee}" method="post">
    <label for="id">Id</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <p>
    <label for="sort">Coffee</label>
    <input type="text" th:field="*{sort}" id="sort" placeholder="Coffee">
    <p>
    <label for="country">Country</label>
    <input type="text" th:field="*{country}" id="country" placeholder="Country">
    <p>
    <label for="descriptions">Descriptions</label>
    <input type="text" th:field="*{descriptions}" id="descriptions" placeholder="Descriptions">
    <p>
    <input type="submit" value="Update">
</form>

</body>
</html>