<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add coffee</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="firstName">Coffee</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="Add">
    <label for="lastName">Country</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Add">
    <label for="lastName">Descriptions</label>
    <input type="text" th:field="*{descriptions}" id="descriptions" placeholder="Add">
    <input type="submit" value="Add coffee">
</form>
</body>
</html>